.shell { background-image: url(photos/photo.gif); }
.shell p { background-image: url(icons/icon.gif); }
.shell li { background-image: url(photos/photo.gif); }
.shell a { background-image: url(icons/icon.gif); }
