/* all instances should be rewritten, quoted and unquoted */
.shell { background-image: url(images/shell.gif); }
.shell a { background-image: url('images/shell.gif'); }
.shell i { background-image: url("images/shell.gif"); }

/* no timestamp possible on non-existant images, but do the rewrite anyway
	to keep it broken in case it exists somewhere else */
.shell p { background-image: url(images/nav.gif); }

/* no rewriting absolute paths */
.shell p { background-image: url(http://example.com/images/nav.gif); }
.shell p { background-image: url(https://example.com/images/nav.gif); }
.shell p { background-image: url(//example.com/images/nav.gif); }
.shell p { background-image: url(/images/nav.gif); }

/* no rewriting data urls */
.shell p { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==); }
